html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    min-height: 180px;
    width: 384px;
    font-family: "Open Sans", sans-serif;
    color: #13293d;
    background-color: #e8ebf7;
}

h1 {
    font-size: 22px;
    font-weight: 400;
    margin: 4px;
    color: #16324f;
}

a:link,
a:visited {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
}

.modal-header {
    text-align: center;
    align-items: center;
    border-bottom: 0.5px solid #d0d0c0;
}

.modal-content {
    text-align: center;
    padding: 0 8px;
}

.version {
    font-size: 16px;
    color: #444;
}
